
.brand-logo{
     font-family: Impact, Charcoal, sans-serif; 
}
#search{
    margin-left: 15%;
    margin-top: 2px;
    width: 400px;
    height:45px;
    padding: 8px;
    /* border-bottom: 2px solid #ffc400; */
}
.input-field input:focus + label {
    color: #ffc400 !important;
  }
  .row .input-field input:focus {
    border-bottom: 1px solid#ffc400 !important;
    box-shadow: 0 1px 0 0 #ffc400 !important
  }
/* .buscar form{
    margin-left: 20%;
    width: 500px;
    height: 30px;
} */
